.router-link-active .p-menuitem-text{
    color: #3B82F6 !important;
    font-weight:bold;
}

body{
    margin:0;
}

#app{
    height: 100vh;
}

#menu-bar{
    height: 10%;
    position:sticky; /* fixing the position takes it out of html flow - knows
                   nothing about where to locate itself except by browser
                   coordinates */
    left:0;           /* top left corner should start at leftmost spot */
    top:0;            /* top left corner should start at topmost spot */
    width:100vw;      /* take up the full browser width */
    z-index:200;  /* high z index so other content scrolls underneath */
}

#content{
    height: 90%;
    overflow-y: scroll;
}

